:local .main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  overflow: hidden;
}

:local .main > div {
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
}

:local .main form {
  display: inline-block;
  position: relative;
  margin-top: 40px;

}

:local .main input[type='search'] {
  font-size: 22px;
  font-weight: lighter;
  width: 300px;
  padding-right: 35px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 0 5px;
  outline: none;
}

:local .main input[type='search']:focus {
  box-shadow: 0 0 3px 0 #555;
}

:local .main button[type='submit'] {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 0;
  border-radius: 3px;
  border: 0;
  background-color: #fff;
  background-image: url(data:image/svg+xml,%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2226.457px%22%20height%3D%2230.696px%22%20viewBox%3D%220%200%2026.457%2030.696%22%20enable-background%3D%22new%200%200%2026.457%2030.696%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Cg%3E%0A%09%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23606060%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2216.036%22%20cy%3D%2210.421%22%20r%3D%229.42%22/%3E%0A%09%0A%09%09%3Crect%20x%3D%224.171%22%20y%3D%2216.016%22%20transform%3D%22matrix%280.7968%200.6042%20-0.6042%200.7968%2015.4606%201.1268%29%22%20fill%3D%22%23606060%22%20width%3D%223.768%22%20height%3D%2215.073%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A);
  background-size: 16px 18px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  width: 28px;
  height: 25px;
  outline: none;
  cursor: pointer;
}

:local .main p {
  margin: 0 auto 20px;
  font-weight: lighter;
  color: #666;
  text-align: left;
}

:local .main :global .summaryText {
  width: 100%;
  height: 80px;
  position: absolute;
  margin: auto;
}

:local .main em {
  font-weight: bold;
  color: #464646;
  text-decoration: underline;
}

:local .main h3 {
  margin: 30px 0;
  font-weight: bold;
  font-size: 22px;
  color: #464646;
  text-align: left;
}

:local .main strong {
  font-weight: bold;
  color: #464646;
}

:local .main .noResultsText {
  margin: 100px 0;
}

:local .main :global .table-wrapper {
  width: 100%;
  height: calc(100% - 230px);
  top: 230px;
  margin: 0 0 50px 0;
  position: absolute;
  overflow-y: auto;
}

:local .main :global .table-header {
  width: 100%;
  top: 230px;
  margin: 0 0 50px 0;
  position: absolute;
}

:local .main table {
  max-width: 100%;
  width: 100%;
  margin: 0 0 50px 0;
  overflow-y: auto;
}

:local .main table td,
:local .main table th {
  white-space: nowrap;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #666;
  text-align: left;
}

:local .main table :global .buttons {
  width: 44px;
}

:local .main table :global .toFrom {
  max-width: 100px;
}

:local .main table :global .docNames {
  max-width: 150px;
}

:local .main table :global .content {
  max-width: 300px;
}

:local .main table :global .dates {
  max-width: 60px;
}

:local .main table :global .score {
  max-width: 60px;
}

:local .main :global button {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2;
  float: left;
  margin-bottom: 20px;
}

:local .main :global button.disabled {
  pointer-events: none;
  opacity: 0.2;
}

:local .main table td {
  color: #716f6f;
  font-weight: lighter;
}

:local .main table ul {
  list-style-type: disc;
  list-style-position: inside;
}

:local .main table li {
  font-size: 14px;
  margin-bottom: 3px;
}

:local .main table td em {
  background: #d8ff00;
  padding: 3px;
}

:local .main :global .docView em {
  background: #d8ff00;
  padding: 3px;
}



/*:local .main :global .docButton {
  cursor: pointer;
}

:local .main :global .docButton:hover {
  text-decoration: underline;
}*/

:local .main :global .docView {
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 80%;
  max-width: 800px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.47);
  overflow-y: auto;
}

:local .main :global .graphWrapper {
  position: relative;
}
